#about image{
    max-width: 400px;
}
.link{
    width:95vw;
    overflow: hidden;
}
.margin-bottom-24px.br{
    
    text-overflow: clip;
}
#about{
    padding-left: 20%;
    padding-right: 20%;

}