body.dark-mode #about{
    background: url("../images/about_bg_dark.png");;
}
.link{
    width:95vw;
    overflow: hidden;
}
#about a{
    color:grey;
}
.margin-bottom-24px.br{
    
    text-overflow: clip;
}
#about{
    background: url("../images/about_bg.png");
    padding-left: 20%;
    padding-right: 20%;

}
#about img{
    /*width: 300px; old pic*/
    width: 340px;
}
table td{
    /*display: flex;*/
    vertical-align: 10px;
}
table p{
    padding-left: 20px;
    text-align: left;
   
}
span.chinesewarp{
    white-space: nowrap;
}
@media screen and (max-width: 767px){
    #about img{
        /*max-width: 200px; old image*/
        max-width: 230px;
    }
    #about{
        padding-left: 5%;
        padding-right: 5%;
    
    }
    table{
        width:90%;
    }
    table td.right p{
        text-align: right;
    }
    
}