.gridwrapper {
	width: 80%;
	margin: 50px auto;
	display: grid;
	grid-template-columns: repeat(2, minmax(200px,1fr)) ;
    /*grid-auto-rows: 350px;*/
    grid-gap: 10px;
    img{
        transition: 1s ease;
    }
}
.gridwrapper a {
	
    img{
        object-fit: cover;
        width: 100%;
        height:100%;
        cursor: pointer;
    }
	
}
.gridwrapper img:hover {
	/*transform: scale(0.9);*/
    transition: 1s ease;
    filter: brightness(50%);
    cursor: url('../images/cursor_auto.png'),pointer;
}