.flex1{
    display:block;
}
.flex1>div{
    width:50%;
    height:200px;
    line-height:200px;
    text-align: center;
    float:left;
    color:white;
}
.Tgrid{
    font-size: 180%;
    font-weight: bolder;
}
.flexfull{
    display:block;
}
.flexfull>div{
    width:100%;
    line-height:200px;
    text-align: center;
    float:left;
    background-color: #c7ebeb;
}
#f1{
    top:50%;
    background: black url("../images/installation_thumbnail.jpg");
    background-size: cover;
    background-position: center;
}
#f2{
    background: black url("../images/Drawings_Thumbnail.jpg");
    background-size: cover;
    background-position: center;
}
.Tgrid{
    background-color:rgba(0,0,0,0.4);
    backdrop-filter:blur(3px);
}
@media screen and (min-width: 767px) {
    #f1:hover{
        width:65%;
        transition:ease;
        transition-duration: 0.5s;
        ~div{
            width:35%;
            transition-duration: 0.5s;
        }#g1{
            backdrop-filter:blur(0px);
        }
    }
    #f2:hover{
        width:65%;
        transition:ease;
        transition-duration: 0.5s;
        #g2{
            backdrop-filter:blur(0px);
        }
        
    }
    #f1:has(+#f2:hover){
        width:35%;
        transition-duration: 0.5s;
    }
}

