#table{
    height:1200px;
}

.flex1,.flexfull,.flex1>a,.flexfull>a{
    display:block;
    height: auto;
}
.flex1>a{
    width:50%;
    height:400px;
    line-height:400px;
    text-align: center;
    float:left;
    color:white;
    text-decoration: none;
}
.Tgrid{
    font-size: 180%;
    font-weight: bolder;
}

.flexfull>a{
    width:100%;
    line-height:400px;
    text-align: center;
    clear: left;
    color:white;
    text-decoration: none;
}
#f1{
    background: black url("../images/installation_thumbnail.jpg");
    background-size: cover;
    background-position: center;
    transition:ease;
    transition-duration: 0.5s;
}
#f2{
    background: black url("../images/Drawings_Thumbnail.jpg");
    background-size: cover;
    background-position: center;
    transition:ease;
    transition-duration: 0.5s;
}

#f3{
    background: black url("../images/photo_thumbnail.jpg");
    background-size: cover;
    background-position: center;
    transition:ease;
    transition-duration: 0.5s;
}
#f4{
    background: black url("../images/games_thumbnail.jpg");
    background-size: cover;
    background-position: center;
    transition:ease;
    transition-duration: 0.5s;
}
#f5{
    background: black url("../images/others_thumbnail.png");
    background-size: cover;
    background-position: center;
    transition:ease;
    transition-duration: 0.5s;
}
#f6{
    background: black url("");
    background-size: cover;
    background-position: center;
    transition:ease;
    transition-duration: 0.5s;
}
.Tgrid{
    background-color:rgba(0,0,0,0.4);
    backdrop-filter:blur(3px);
    -webkit-backdrop-filter: blur(3px);
}
/*drawing_main*/
.gridwrapper {
	width: 80%;
	margin: 50px auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px,1fr)) ;
    /*grid-auto-rows: 350px;*/
    grid-gap: 10px;
}
.gridwrapper a {
	
    img{
        object-fit: cover;
        width: 100%;
        height:100%;
        cursor: pointer;
	    transition: 1s ease;
    }
	
}
.gridwrapper img:hover {
	transform: scale(0.9);
}

@media screen and (min-width: 767px) {
    #f1:hover{
        width:65%;
        transition:ease;
        transition-duration: 0.5s;
        ~a{
            width:35%;
            transition-duration: 0.5s;
        }#g1{
            backdrop-filter:blur(0px);
            -webkit-backdrop-filter: blur(0px);
        }
    }
    #f2:hover{
        width:65%;
        transition:ease;
        transition-duration: 0.5s;
        #g2{
            backdrop-filter:blur(0px);
            -webkit-backdrop-filter: blur(0px);
        }
        
    }
    #f1:has(+#f2:hover){
        width:35%;
        transition-duration: 0.5s;
    }
    #f3:hover{
        width:65%;
        transition:ease;
        transition-duration: 0.5s;
        ~a{
            width:35%;
            transition-duration: 0.5s;
        }#g3{
            backdrop-filter:blur(0px);
            -webkit-backdrop-filter: blur(0px);
        }
    }
    #f4:hover{
        width:65%;
        transition:ease;
        transition-duration: 0.5s;
        #g4{
            backdrop-filter:blur(0px);
            -webkit-backdrop-filter: blur(0px);
        }
        
    }
    #f3:has(+#f4:hover){
        width:35%;
        transition-duration: 0.5s;
    }
    #f6:hover{
        width:65%;
        transition:ease;
        transition-duration: 0.5s;
        ~a{
            width:35%;
            transition-duration: 0.5s;
        }#g6{
            backdrop-filter:blur(0px);
            -webkit-backdrop-filter: blur(0px);
        }
    }
    #f5:hover{
        width:65%;
        transition:ease;
        transition-duration: 0.5s;
        #g5{
            backdrop-filter:blur(0px);
            -webkit-backdrop-filter: blur(0px);
        }
        
    }
    #f6:has(+#f5:hover){
        width:35%;
        transition-duration: 0.5s;
    }
}
@media screen and (max-width: 764px) {
    .gridwrapper {
        width: 80%;
        margin: 50px auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
        grid-auto-rows: 100px;
        grid-gap: 10px;
    }
    .flex1>a{
        width:100%;
        height:200px;
        line-height:200px;
    }
    #f1:hover{
        transition:ease;
        transition-duration: 0.5s;
        ~a{
            transition-duration: 0.5s;
        }#g1{
            backdrop-filter:blur(0px);
            -webkit-backdrop-filter: blur(0px);
        }
    }
    #f2:hover{
        transition:ease;
        transition-duration: 0.5s;
        #g2{
            backdrop-filter:blur(0px);
            -webkit-backdrop-filter: blur(0px);
        }
        
    }
    #f1:has(+#f2:hover){
        transition-duration: 0.5s;
    }
    #f3:hover{
        transition:ease;
        transition-duration: 0.5s;
        ~a{
            transition-duration: 0.5s;
        }#g3{
            backdrop-filter:blur(0px);
            -webkit-backdrop-filter: blur(0px);
        }
    }
    #f4:hover{
        transition:ease;
        transition-duration: 0.5s;
        #g4{
            backdrop-filter:blur(0px);
            -webkit-backdrop-filter: blur(0px);
        }
        
    }
    #f3:has(+#f4:hover){
        transition-duration: 0.5s;
    }
    #f5:hover{
        #g5{
            backdrop-filter:blur(0px);
            -webkit-backdrop-filter: blur(0px);
            transition:ease;
            transition-duration: 0.5s;
        }
        
    }
    #f6:hover{
        #g6{
            backdrop-filter:blur(0px);
            -webkit-backdrop-filter: blur(0px);
            transition:ease;
            transition-duration: 0.5s;
        }
        
    }
    #f6:has(+#f5:hover){
        transition-duration: 0.5s;
    }
}
